@model Shop.Models.AUser
@{
    ViewBag.Title = "Create";
}
<link href="~/Content/FH/button.min.css" rel="stylesheet" />
<link href="~/Content/TJ/buttons.css" rel="stylesheet" />
<link href="~/Content/SR/set2.css" rel="stylesheet" />
<link href="~/Content/XL/xl.css" rel="stylesheet" />
<script src="~/Scripts/TJ/classie.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("CreateAdd", new { id=1,type=1}, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "result" },new { id = "from"}))
{
    <div class="form-horizontal">
        <div class="form-group" style="margin-left:10%;">
            <div class="col-md-10" style="width:45.5%;">
                <span class="input input--manami">
                    <input name="Name" class="input__field input__field--manami" type="text" id="input-32" autocomplete="off" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span class="input__label-content input__label-content--manami">管理员姓名</span>
                    </label>
                </span>
                @*<input name="Name" type="text" class="form-control" id="lastname" placeholder="请输输入姓名">*@
            </div>
            <br />
        </div>

        <div class="form-group" style="margin-left:10%;">
            <div class="col-md-10" style="width:45.5%;">
                <span class="input input--manami">
                    <input name="Password" class="input__field input__field--manami" type="password" id="input-32" autocomplete="off" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span class="input__label-content input__label-content--manami">设置密码</span>
                    </label>
                </span>
                @*<input name="Password" type="text" class="form-control" id="lastname" placeholder="请输设置密码">*@
            </div>
        </div>

        <div class="form-group" style="margin-left:10%;">
            <div class="col-sm-10" style="width:45.5%;">
                <span class="input input--manami">
                    <input name="QPassword" class="input__field input__field--manami" type="password" id="input-32" autocomplete="off" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span class="input__label-content input__label-content--manami">确认密码</span>
                    </label>
                </span>
                @*<input name="QPassword" type="text" class="form-control" id="lastname" placeholder="请确认密码">*@
            </div>
        </div>
        <script>
            (function () {
                if (!String.prototype.trim) {
                    (function () {
                        // Make sure we trim BOM and NBSP
                        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                        String.prototype.trim = function () {
                            return this.replace(rtrim, '');
                        };
                    })();
                }

                [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
                    // in case the input is already filled..
                    if (inputEl.value.trim() !== '') {
                        classie.add(inputEl.parentNode, 'input--filled');
                    }

                    // events:
                    inputEl.addEventListener('focus', onInputFocus);
                    inputEl.addEventListener('blur', onInputBlur);
                });

                function onInputFocus(ev) {
                    classie.add(ev.target.parentNode, 'input--filled');
                }

                function onInputBlur(ev) {
                    if (ev.target.value.trim() === '') {
                        classie.remove(ev.target.parentNode, 'input--filled');
                    }
                }
            })();
        </script>
        <div class="form-group" style="margin-left:5%; margin-bottom:50px;">
            <label class="col-sm-2 control-label" style="font-size:16px; color:#696969;">管理员类别</label>
            <div class="col-md-10" style="width:40%;">
                <script>
                    $(function () {
                        $(".select p").click(function (e) {
                            $(".select").toggleClass('open');
                            e.stopPropagation();
                        });

                        $(".content .select ul li").click(function (e) {
                            var _this = $(this);
                            $(".select > p").text(_this.attr('data-value'));
                            _this.addClass("Selected").siblings().removeClass("Selected");
                            $(".select").removeClass("open");
                            e.stopPropagation();
                        });

                        $(document).on('click', function () {
                            $(".select").removeClass("open");
                        })

                    });
                </script>
                <div class="content">
                    <div class="select">                                             
                        <p data-value="所有选项">所有选项</p>
                        <ul>
                            <li data-value="所有选项" class="Selected">所有选项</li>
                            <li data-value="普通管理员">普通管理员</li>
                            <li data-value="超级管理员">超级管理员</li>
                        </ul>
                    </div>
                </div>
                @*<select name="Category" class="form-control">
                        <option>普通管理员</option>
                        <option>超级管理员</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group" style="margin-left:6%;">
            <div class="box bg-1">
                <button class="button button--ujarak button--border-thin button--text-thick">确认添加</button>
            </div>
            <div style="margin-top:20px;">
                <span id="result" style="color:red; font-size:14px;"></span>
            </div>
        </div>
    </div>    
}
<div class="svg-wrapper" style="margin-bottom:20px; float:right;">
    <svg height="40" width="150">
        <rect id="shape" height="40" width="150" />
        <div id="text">
            @Html.ActionLink("返回至管理员列表", "Administrator", new {@class="spot"})
        </div>        
    </svg>
</div>
